@{
	ViewBag.Title = "Home";
}

<main>
	<section class="row card-deck" id="siteActions">
		<article class="card col-md-4">
			<div class="card-body">
				<h5 class="card-title">Positions</h5>
				<p class="card-text">Browse a list of Victisoft, Inc.'s current positions.</p>
				@Html.ActionLink("Browse", "Index", "Positions", null, new { @class = "btn btn-warning mt-auto" })
			</div>
		</article>
		<article class="card col-md-4">
			<div class="card-body">
				<h5 class="card-title">Openings</h5>
				<p class="card-text">View and apply to currently open positions at Victisoft, Inc.</p>
				@Html.ActionLink("Browse", "Index", "OpenPositions", null, new { @class = "btn btn-warning" })
			</div>
		</article>
		<article class="card col-md-4">
			<div class="card-body">
				<h5 class="card-title">Applications</h5>
				<p class="card-text">See your applications to Victisoft, Inc.'s open positions.</p>
				@Html.ActionLink("Browse", "Index", "Applications", null, new { @class = "btn btn-warning" })
			</div>
		</article>
	</section>
</main>